.button {
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 100px;
  padding: 12px 45px;
  
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  background-color: #00000000;
  
  transition: .5s;
  
  &:hover {
    border-color: #FF1900;
    background-color: #FF1900;
    box-shadow: 2px 2px 35px 7px rgba(255, 25, 0, 0.753);  
  }
}