@import '../../styles/variables.scss';

.sidebarLink {
  color: $light-grey;
  padding: 10px 12px;
  border-radius: 8px;

  margin-bottom: 10px;
  
  &:hover {
    background-color: $red;
    color: #fff;
  }

  svg {
    margin-bottom: -3px;
    margin-right: 12px;
  }
}