.burger {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  position: absolute;
  top: 25px;
  left: 20px;
  z-index: 1000;
}

.burgerLine {
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin-top: 5px;
}