.slide {
  display: block;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000000, 0.6);
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, #000, rgba(#000, 0));
  }
}

.slideContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;

  h2 {
    font-weight: 800;
    font-size: 40px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
  }
  img {
    width: 300px;
    border-radius: 15px;
    margin-left: 15px;

    @media screen and (max-width: 810px) {
      & {
        display: none;
      }
    }
  }
}