@import './styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  font-family: 'Syne', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $primary-color;
  color: $light-grey;
}

.container {
  display: flex;
  justify-content: space-between;
}

.content {
  position: absolute;
  margin: 25px;
  left: calc(20% + 10px);
}